* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 20px;
    font-family: "Inter", sans-serif;
}


.header {
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    padding: 30px 80px 40px;
    position: relative;
    background: #ffffff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-image: url(../images/background_header.svg);
}



.logo {
    width: 105px;
    height: 39px;
}
a {
    text-decoration: none;
    color: #000000;
}
.nav {
    padding: 30px 80px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav__link {
    font-family: "Inter"; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 20px;

    list-style: none;
}



.span-accent {
    font-family: "Noto Serif"; 
    font-style: italic; 
    font-weight: normal; 
    font-size: 60px; 
    line-height: 72px; 
    color: #2F80ED;
    display: block;
}
.header__title {
    font-family: "Inter"; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 60px; 
    line-height: 72px; 
    letter-spacing: -0.6px;
    max-width: 729px;
    position: relative;
    z-index: 1;
    margin: 183px 0px 28px 0px;
}
.header__description {
    font-family: "Noto Serif"; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 20px; 
    line-height: 30px;

    max-width: 683px;
}
.paragraph {
    font-family: "Inter"; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 16px; 
    line-height: 20px; 
    color: #838383;
    display: block;
}


.header__wrapper img {
    width: 646px;
    height: 568px;
    top: 124px;
    right: 4px;
    position: absolute;
    z-index: 0;
}

.footer {
    margin-top: auto;
    display: flex;
    align-items: end;
    color: #6F6F6F;
    position: relative;
    z-index: 1;
    justify-content: space-between;
}





/* recipes */
.recipes {
    height: 100vh;
    min-height: 720px;
    max-height: 800px;

    color: #ffffff;
    padding: 100px 80px 215px 80px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: #0A2750;
    background-image: url(../images/background_recipes.svg);
}

.recipes__videos {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

    margin-bottom: 215px;
}
.recipes__title {
    max-width: 580px;
    font-family: "Inter"; 
    font-style: normal; 
    font-weight: 500; 
    font-size: 44px; 
    line-height: 52px;
    margin-bottom: 24px;
}
.recipes__paragraph {
    font-family: "Noto Serif"; 
    font-style: normal; 
    font-weight: normal; 
    font-size: 20px; 
    line-height: 30px;

    margin-bottom: 80px;
    max-width: 438px;
}
.videos {
    width: 480px;
    height: 273px;
}
.media {
    width: 100%;
    height: 100%;
}
.videos__textf {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    font-family: "Inter"; font-style: normal; font-weight: 500; font-size: 20px; line-height: 30px;
}